
  @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400');

  body {
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    background: #f9f9f9;
  }


  h1,h2,h3,h4,h5,h6 {
    font-weight: 300;
    line-height: normal;
  }

  h1 {
    font-size: 3em;
  }

  h2 {
    color: #353535;
    font-size: 2em;
  }

  p {
    color: #757575;
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
  }
  
  .center {
  				display:block;
  				margin-left:auto;
  				margin-right:auto;
  				}
  
    
/*----------------------------------------
   about our team 
   
----------------------------*/




.container{
	max-width:1140px;
	margin:auto;
	position: relative;
	min-height: 1px;
}

.team{
	min-height: 20vh;
	padding:60px 15px;
	background-color:#ffffff; 
	float: left;
	width: 100%;
}

.team h1{
	font-size: 36px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color:#000000;
	margin:0;
	padding-bottom:60px;
	text-align: center;
}


.team .card{
	width:25%;
	float: left;
	padding:0px 15px;
}


.team .card .box {
	padding:15px;
	background-color:#F3F6F6F6;
	border-radius:5px;
	transition: margin 1s ease,box-shadow 1s ease;
	box-shadow:20px 20px 50px grey;
}

.team .card .box:hover{
	margin-top:-15px;
	box-shadow:0px 0px 40px black;
}

.team .card .box img{
	width:150px;
	display: block;
	margin:10px auto;
	border-radius:50%;

}

.team .card .box h4{
	font-size: 20px;
	font-family: open sans;
	margin:20px 0px 10px;
	color:#29ca8e;
	text-align: center;
	font-weight: 500;
}

.team .card .box h5{
	font-size:16px;
	font-family: open sans;
	font-weight: 500;
	color:#000000;
	margin:0px 0px 15px;
	text-align: center;
}
.team .card .box p{
	color:#000000;
	font-size: 15px;
	font-family: open sans;
	font-weight: 400;
	line-height: 24px;
	text-align: center;
	padding:0px 20px;
}



/*responsive*/

@media(max-width: 991px){
	.team .card{
		width:50%;
		margin-bottom:30px;
	}
}

@media(max-width:550px){
	.team .card{
		width:100%;
	}
}



  /*---------------------------------------
     GENERAL               
  -----------------------------------------*/

  html{
    -webkit-font-smoothing: antialiased;
  }

  a {
    color: #202020;
    text-decoration: none !important;
  }

  a,
  input, button,
  .form-control {
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }

  a:hover, a:active, a:focus {
    color: #29ca8e;
    outline: none;
  }

  ::-webkit-scrollbar{
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-thumb {
    cursor: pointer;
    background: #202020;
  }

  .section-title {
    padding-bottom: 40px;
  }

  section {
    position: relative;
    padding: 100px 0;
  }

  #contact,
  footer {
    background: #ffffff;
    text-align: center;
  }

  .overlay {
    background: #536976;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #292E49, #536976);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #292E49, #536976); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    opacity: 0.9;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .online-form {
    position: relative;
  }

  .online-form .form-control {
    border-color: #f0f0f0;
    display: inline-block;
    vertical-align: top;
    border-radius: 50px;
    box-shadow: none;
    height: 50px;
    margin-right: 0.5em;
    padding-left: 15px;
  }

  .online-form input[type="email"] {
    width: 60%;
  }

  .online-form button {
    background: #29ca8e;
    border: 0;
    color: #ffffff;
    position: absolute;
    right: 6em;
    width: 25%;
  }

  .online-form button:hover {
    background: #202020;
    color: #ffffff;
  }



  /*---------------------------------------
     BUTTONS               
  -----------------------------------------*/

  .section-btn {
    background: #29ca8e;
    border: 0;
    border-radius: 50px;
    color: #ffffff;
    font-size: 16px;
    font-weight: normal;
    padding: 12px 30px;
    transition: 0.5s 0.2s;
  }

  .section-btn:hover,
  .section-btn:focus {
    background: #202020;
    color: #ffffff;
  }



  /*---------------------------------------
       PRE LOADER              
  -----------------------------------------*/

  .preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background: none repeat scroll 0 0 #ffffff;
  }

  .spinner {
    border: 1px solid transparent;
    border-radius: 3px;
    position: relative;
  }

  .spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 45px;
    height: 45px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 1px solid #575757;
    border-top-color: #ffffff;
    animation: spinner .9s linear infinite;
  }

  @-webkit-@keyframes spinner {
    to {transform: rotate(360deg);}
  }

  @keyframes spinner {
    to {transform: rotate(360deg);}
  }



  /*---------------------------------------
      MENU              
  -----------------------------------------*/

  .custom-navbar {
    border: none;
    margin-bottom: 0;
    padding: 25px 0;
  }

  .custom-navbar .navbar-brand {
    color: #ffffff;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: -1px;
  }

  .top-nav-collapse {
    background: #ffffff;
  }

  .custom-navbar .navbar-nav {
    margin-left: 6em;
  }

  .custom-navbar .nav li a {
    font-size: 16px;
    font-weight: normal;
    color: #f0f0f0;
    padding-right: 22px;
    padding-left: 22px;
  }

  .custom-navbar .nav li a:hover {
    background: transparent;
    color: #29ca8e;
  }

  .custom-navbar .navbar-nav > li > a:hover,
  .custom-navbar .navbar-nav > li > a:focus {
    background-color: transparent;
  }

  .custom-navbar .nav li.active > a {
    background-color: transparent;
    color: #29ca8e;
  }

  .custom-navbar .navbar-toggle {
    border: none;
    padding-top: 10px;
  }

  .custom-navbar .navbar-toggle {
    background-color: transparent;
  }

  .custom-navbar .navbar-toggle .icon-bar {
    background: #29ca8e;
    border-color: transparent;
  }

  @media(min-width:768px) {
    .custom-navbar {
      border-bottom: 0;
      background: 0 0; 
    }

    .custom-navbar.top-nav-collapse {
      background: #ffffff;
      -webkit-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
      box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
      padding: 10px 0;
    }

    .top-nav-collapse .navbar-brand {
      color: #252525;
    }

    .top-nav-collapse .nav li a {
      color: #575757;
    }

    .top-nav-collapse .nav .section-btn a {
      color: #ffffff;
    }
  }



  /*---------------------------------------
      HOME          
  -----------------------------------------*/

  #home {
    background: url('') no-repeat center center;
    background-size: cover;
    vertical-align: middle;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
    padding-top: 12em;
    text-align: center;
  }

  #home h1 {
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 40px;
  }

  .home-info {
    margin-top: 7em;
  }

  .home-info h3 {
    color: #f0f0f0;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin: 10px 0;
  }
  


  /*---------------------------------------
      FEATURE              
  -----------------------------------------*/

  #feature {
    background: #ffffff;
  }

  #feature .nav-tabs {
    border-bottom: 0;
  }

  #feature .nav>li>a {
    padding: 8px 0;
  }

  #feature .nav-tabs>li>a {
    color: #999999;
    font-size: 18px;
    border: 0;
    border-bottom: 3px solid transparent;
    border-radius: 0;
    margin-right: 35px;
  }

  #feature .nav-tabs>li.active>a, 
  #feature .nav-tabs>li.active>a:focus, 
  #feature .nav-tabs>li.active>a:hover {
    background: transparent;
    color: #202020;
    border-bottom: 3px solid #29ca8e;
  }

  #feature .nav>li>a:focus, 
  #feature .nav>li>a:hover {
    background: transparent;
    border-bottom: 3px solid #29ca8e;
    color: #202020;
  }

  #feature .tab-content {
    margin-top: 50px;
  }

  .tab-pane-item {
    margin: 20px 0;
  }

  .tab-pane-item h2 {
    margin: 0 0 5px 0;
  }

  



  /*---------------------------------------
     branding     
  -----------------------------------------*/

  #about .section-title,
  #extra .section-title {
    text-align: center;
  }


  .brand-thumb {
    background: #ffffff;
    border-right: 2px solid #f0f0f0;
    padding: 20px 40px;
  }

  .brand-title {
    padding-bottom: 5px;
  }

  .brand-info {
    border-top: 2px solid #f0f0f0;
    border-bottom: 2px solid #f0f0f0;
  }

  .brand-info,
  .brand-bottom {
    padding: 20px 0;
  }

  .brand-info p {
    font-size: 16px;
  }

  .brand-bottom {
    position: relative;
  }
  
  
  .brand-bottom span {
    font-size: 20px;
  }


  .brand-btn {
    position: absolute;
    top: 15px;
    right: 0;
    display: inline-block;
  }



  /*---------------------------------------
      CONTACT             
  -----------------------------------------*/

  #contact-form .col-md-12,
  #contact-form .col-md-4 {
    padding-left: 0;
  }

  #contact-form .form-control {
    background: transparent;
    border: 0;
    border-bottom: 3px solid #f0f0f0;
    border-radius: 0;
    box-shadow: none;
    margin: 10px 0;
  }

  #contact-form .form-control:focus {
    border-bottom-color: #202020;
  }

  #contact-form input {
    height: 50px;
  }

  #contact-form input[type='submit'] {
    background: #202020;
    border-radius: 50px;
    border: 0;
    color: #ffffff;
  }

  #contact-form input[type='submit']:hover {
    background: #29ca8e;
    color: #ffffff;
  }
  


  /*---------------------------------------
     FOOTER              
  -----------------------------------------*/

  footer {
    padding-bottom: 80px;
  }

  .copyright-text p {
    margin: 5px;
  }



  /*---------------------------------------
     SOCIAL ICON              
  -----------------------------------------*/

  .social-icon {
    position: relative;
    padding: 0;
    margin: 0;
  }

  .social-icon li {
    display: inline-block;
    list-style: none;
  }

  .social-icon li a {
    border-radius: 50px;
    color: #202020;
    font-size: 15px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-decoration: none;
    text-align: center;
    position: relative;
    margin: 5px 5px 5px 0;
  }

  .social-icon li a:hover {
    background: #536976;
    color: #ffffff;
  }



  /*---------------------------------------
     RESPONSIVE STYLES              
  -----------------------------------------*/

  @media only screen and (max-width: 1200px) {

    .custom-navbar .navbar-nav {
      margin-left: 3em;
    }

    .home-info {
      margin-top: 0;
    }
  }


  @media only screen and (max-width: 992px) {

    section {
      padding: 60px 0;
    }

    .custom-navbar .navbar-nav {
      margin-left: 0;
    }

    .custom-navbar .nav li a {
      font-size: 14px;
      padding-right: 15px;
      padding-left: 15px;
    }

    #feature .nav-tabs>li>a {
      font-size: 16px;
      margin-right: 20px;
    }


    .brand-thumb {
      margin-bottom: 30px;
    }

    footer {
      padding-bottom: 40px;
    }
  }


  @media screen and (max-width: 767px) {

    .section-title {
      padding-bottom: 20px;
    }

    .custom-navbar {
      background: #ffffff;
      -webkit-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
      box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
      padding: 10px 0;
      text-align: center;
    }

    .custom-navbar .nav li a {
      line-height: normal;
      padding: 5px;
    }

    .custom-navbar .navbar-brand,
    .top-nav-collapse .navbar-brand {
      color: #202020;
      font-weight: normal;
    }

    .custom-navbar .nav li a,
    .top-nav-collapse .nav li a {
      color: #656565;
    }

    #about .col-md-4:nth-child(3n) .team-thumb {
      display: flex;
      -webkit-box-orient: vertical;
      flex-direction: column-reverse;
      -webkit-flex-direction: column-reverse;
      -ms-flex-direction: column-reverse;
    }

    .team-thumb-down:after {
      top: -15px;
      bottom: inherit;
      border-top: inherit;
      border-bottom: 15px solid #ffffff;
    }

  }


  @media screen and (max-width: 480px) {

    .online-form input[type="email"],
    .online-form .form-control {
      width: 85%;
    }

    .online-form .form-control {
      display: block;
      margin: 20px auto;
    }

    .online-form button {
      position: relative;
      right: 0;
    }

    
  }
